<h1> Homework 01 - Simple Linear Regression </h1>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

<h2> Reading the dataset using pandas </h2>

In [2]:
data = pd.read_csv('Homework1Datasaet.csv')
data

,Example,Crust Shape,Crust Size,Crust Shade,Filling Size,Filling Shade,Class
0,ex1,Circle,Thick,Gray,Thick,Dark,pos
1,ex2,Circle,Thick,White,Thick,Dark,pos
2,ex3,Triangle,Thick,Dark,Thick,Gray,pos
3,ex4,Circle,Thin,White,Thin,Dark,pos
4,ex5,Square,Thick,Dark,Thin,White,pos
5,ex6,Circle,Thick,White,Thin,Dark,pos
6,ex7,Circle,Thick,Gray,Thick,White,neg
7,ex8,Square,Thick,White,Thick,Gray,neg
8,ex9,Triangle,Thin,Gray,Thin,Dark,neg
9,ex10,Circle,Thick,Dark,Thick,White,neg
10,ex11,Square,Thick,White,Thick,Dark,neg
11,ex12,Triangle,Thick,White,Thick,Gray,neg

<h2> Creating Dummy variables with drop_first set to true. </h2>
<h2> Crust properties have prefix 'Category_Crust' and Filling properties have prefix 'Category_Filling' </h2>

In [3]:
crust_columns = ['Crust Shape', 'Crust Size', 'Crust Shade']
filling_columns = ['Filling Size', 'Filling Shade ']

crust_dummies = pd.get_dummies(data, drop_first = True, prefix = 'Category_Crust', columns = crust_columns)
filling_dummies = pd.get_dummies(data, drop_first = True, prefix = 'Category_Filling', columns = filling_columns)

crust_dummies = crust_dummies.drop(columns = filling_columns)
filling_dummies = filling_dummies.drop(columns = crust_columns)

final_dataset = crust_dummies.merge(filling_dummies, how = 'inner')

In [4]:
final_dataset

,Example,Class,Category_Crust_Square,Category_Crust_Triangle,Category_Crust_Thin,Category_Crust_Gray,Category_Crust_White,Category_Filling_Thin,Category_Filling_Gray,Category_Filling_White
0,ex1,pos,0,0,0,1,0,0,0,0
1,ex2,pos,0,0,0,0,1,0,0,0
2,ex3,pos,0,1,0,0,0,0,1,0
3,ex4,pos,0,0,1,0,1,1,0,0
4,ex5,pos,1,0,0,0,0,1,0,1
5,ex6,pos,0,0,0,0,1,1,0,0
6,ex7,neg,0,0,0,1,0,0,0,1
7,ex8,neg,1,0,0,0,1,0,1,0
8,ex9,neg,0,1,1,1,0,1,0,0
9,ex10,neg,0,0,0,0,0,0,0,1
10,ex11,neg,1,0,0,0,1,0,0,0
11,ex12,neg,0,1,0,0,1,0,1,0

<h2> Splitting independent and dependent variables as x_training and y_training where x_training holds all the features and y_training holds the classes </h2>

In [5]:
y_training = final_dataset['Class']
y_training = y_training.replace(['pos', 'neg'], ['1', '0'])
x_training = final_dataset.drop(columns = ['Example', 'Class'])

<h2> Using Scikit-learn to fit a linear regression model to the dataset </h2>

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
linear_reg = LinearRegression().fit(x_training, y_training)
y_predicted = linear_reg.predict(x_training)
y_predicted

array([ 0.92241379,  0.63362069,  0.84913793,  0.77155172,  0.6637931 ,
        1.3362069 , -0.15086207,  0.22844828,  0.22844828,  0.48706897,
        0.10775862, -0.07758621])

In [8]:
y_predicted = [1 if x >= 0.5 else 0 for x in y_predicted]
actual_vs_predicted  = pd.DataFrame()
actual_vs_predicted['actual_pos'] = y_training
actual_vs_predicted['predicted'] = y_predicted

In [9]:
actual_vs_predicted

   actual_pos  predicted
0           1          1
1           1          1
2           1          1
3           1          1
4           1          1
5           1          1
6           0          0
7           0          0
8           0          0
9           0          0
10          0          0
11          0          0

We can see that the linear regression model has an accuracy of 100 % accuracy on the training set

In [10]:
x_training

,Category_Crust_Square,Category_Crust_Triangle,Category_Crust_Thin,Category_Crust_Gray,Category_Crust_White,Category_Filling_Thin,Category_Filling_Gray,Category_Filling_White
0,0,0,0,1,0,0,0,0
1,0,0,0,0,1,0,0,0
2,0,1,0,0,0,0,1,0
3,0,0,1,0,1,1,0,0
4,1,0,0,0,0,1,0,1
5,0,0,0,0,1,1,0,0
6,0,0,0,1,0,0,0,1
7,1,0,0,0,1,0,1,0
8,0,1,1,1,0,1,0,0
9,0,0,0,0,0,0,0,1
10,1,0,0,0,1,0,0,0
11,0,1,0,0,1,0,1,0

In [12]:
x_training

,Category_Crust_Square,Category_Crust_Triangle,Category_Crust_Thin,Category_Crust_Gray,Category_Crust_White,Category_Filling_Thin,Category_Filling_Gray,Category_Filling_White
0,0,0,0,1,0,0,0,0
1,0,0,0,0,1,0,0,0
2,0,1,0,0,0,0,1,0
3,0,0,1,0,1,1,0,0
4,1,0,0,0,0,1,0,1
5,0,0,0,0,1,1,0,0
6,0,0,0,1,0,0,0,1
7,1,0,0,0,1,0,1,0
8,0,1,1,1,0,1,0,0
9,0,0,0,0,0,0,0,1
10,1,0,0,0,1,0,0,0
11,0,1,0,0,1,0,1,0